* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
  }

main{
    margin: 50px auto;
    width: 960px;
}

.list1 {
    text-align: left;
    padding: 20px;
    background-size: 960px;
    background-color: #bdbaba;
}
.list2 {
    text-align: left;
    padding: 20px;
}
.list3 {
    text-align: left;
    padding: 20px;
    background-size: 960px;
    background-color: #bdbaba;
}
.list4 {
    text-align: left;
    padding: 20px;
}
.list5 {
    text-align: left;
    padding: 20px;
    background-size: 960px;
    background-color: #bdbaba;
}
.list6 {
    text-align: left;
    padding: 20px;
}
.list7 {
    text-align: left;
    padding: 20px;
    background-size: 960px;
    background-color: #bdbaba;
}

.main-visual{
    margin: 50px;
    width: 960px;
    background-size: cover;
    background-position: center;

}

.main-visual:nth-child(odd) {
    margin:5%;
}

.main-visual:nth-child(1) {
    background-color: orangered;
    background-size: 200px;
    width: 30%;
}